/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v15-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-v15-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* chango-regular - latin */
@font-face {
  font-family: 'Chango';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/chango-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/chango-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/chango-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/chango-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/chango-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/chango-v11-latin-regular.svg#Chango') format('svg'); /* Legacy iOS */
}

*{font-family:'Montserrat',sans-serif;font-size:65%}.gameNumber{text-align:center;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;font-size:5rem;color:white;font-weight:700;background:-webkit-linear-gradient(37deg,#ffd84a,#ff06ae);-webkit-background-clip:text;-webkit-text-fill-color:transparent;padding:0 2rem 2rem}.list{padding-bottom:8rem !important;position:relative}p{font-size:2.5rem;font-weight:600;position:absolute;background:-o-linear-gradient(305deg,#fff,#e6e6e6);background:linear-gradient(145deg,#fff,#e6e6e6);width:100%;left:0;bottom:-1px;border-radius:40px;border-top-right-radius:0;border-top-left-radius:0;margin:1rem 0 0;padding:2rem 5rem;-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}p span{font-size:2.5rem}.left-list p{color:#2bc7b1}.right-list p{color:#f77066}.total{display:inline-block;vertical-align:top;margin-top:.28rem}h1,h2{text-align:center}h1{margin:2rem;font-family:'Chango',cursive;font-size:5rem;background:-webkit-linear-gradient(37deg,#ffd84a,#ff06ae);-webkit-background-clip:text;-webkit-text-fill-color:transparent}h2{color:#fff;font-size:3rem;margin:.5rem 0 2rem}section{max-width:85rem;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex}.list{width:50%;margin:1rem 2rem;padding:2rem;border-radius:40px;-webkit-box-shadow:20px 20px 60px #bebebe,-20px -20px 60px #fff;box-shadow:20px 20px 60px #bebebe,-20px -20px 60px #fff;z-index:0}.left-list{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1;background:-o-linear-gradient(305deg,#02999e,#02b6bc);background:linear-gradient(145deg,#02999e,#02b6bc)}.right-list{background:-o-linear-gradient(305deg,#d2473d,#fd776d);background:linear-gradient(145deg,#d2473d,#fd776d)}ol{padding:0;list-style:none}li{text-align:center;cursor:pointer;font-weight:600;position:relative;font-size:2rem;padding:1rem 4rem;margin:2rem 1rem;background:-o-linear-gradient(305deg,#fff,#e6e6e6);background:linear-gradient(145deg,#fff,#e6e6e6);counter-increment:index;max-height:2.45rem;-webkit-animation-name:rotateCard;animation-name:rotateCard;-webkit-transform-origin:50% 0;-ms-transform-origin:50% 0;transform-origin:50% 0;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-timing-function:ease;animation-timing-function:ease}@-webkit-keyframes rotateCard{from{padding:0;margin:0;max-height:0;-webkit-transform:perspective(600px) rotateX(90deg);transform:perspective(600px) rotateX(90deg)}to{padding:1rem 4rem;margin:2rem 1rem;max-height:2.45rem;-webkit-transform:perspective(600px) rotateX(0);transform:perspective(600px) rotateX(0)}}@keyframes rotateCard{from{padding:0;margin:0;max-height:0;-webkit-transform:perspective(600px) rotateX(90deg);transform:perspective(600px) rotateX(90deg)}to{padding:1rem 4rem;margin:2rem 1rem;max-height:2.45rem;-webkit-transform:perspective(600px) rotateX(0);transform:perspective(600px) rotateX(0)}}.removeCard{-webkit-transition:max-height .4s,margin .2s .15s ease-out,-webkit-transform .2s;transition:max-height .4s,margin .2s .15s ease-out,-webkit-transform .2s;-o-transition:max-height .4s,transform .2s,margin .2s .15s ease-out;transition:max-height .4s,transform .2s,margin .2s .15s ease-out;transition:max-height .4s,transform .2s,margin .2s .15s ease-out,-webkit-transform .2s;max-height:0;margin:-4rem 0 0;-webkit-transform:perspective(600px) rotateX(90deg);transform:perspective(600px) rotateX(90deg)}.left-list li,section li.greenbefore{color:#2bc7b1}.right-list li,section li.redbefore{color:#f77066}li:before{position:absolute;content:counter(index)".";min-width:4rem;height:4rem;border-radius:1rem;color:white;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 .8rem;top:-1rem;left:0;-webkit-transform:translateX(-30%);-ms-transform:translateX(-30%);transform:translateX(-30%)}.left-list li:before{background-image:-o-linear-gradient(305deg,#39f5d7,#27b9a5);background-image:linear-gradient(145deg,#39f5d7,#27b9a5)}.right-list li:before{background-image:-o-linear-gradient(305deg,#f98787,#f93030);background-image:linear-gradient(145deg,#f98787,#f93030)}li.greenbefore:before{background-image:-o-linear-gradient(305deg,#39f5d7,#27b9a5);background-image:linear-gradient(145deg,#39f5d7,#27b9a5)}li.redbefore:before{background-image:-o-linear-gradient(305deg,#f98787,#f93030);background-image:linear-gradient(145deg,#f98787,#f93030)}li,li::after{border-radius:10px}li::after{position:absolute;left:0;right:0;top:0;bottom:0;z-index:-1;content:"";-webkit-box-shadow:8px 8px 24px #019297;box-shadow:8px 8px 24px #019297}.left-list li::after{-webkit-box-shadow:8px 8px 24px #057d81;box-shadow:8px 8px 24px #057d81}.right-list li::after{-webkit-box-shadow:8px 8px 24px #b14b44;box-shadow:8px 8px 24px #b14b44}